

/* Header */

.header {
    background-color: #FAFAFA;
}

.header_navbar {
    height: 70px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.header_navbar-logo {
    display: flex;
    align-items: center;
    max-height: 70px;
}

.header_navbar-logo h3 {
    font-size: 0.9rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 0 0 10px;
    margin: 0;
    letter-spacing: 1.7px;
    padding-left: 7px;
}

.header_navbar-img {
    max-height: 30px;
    object-fit: cover;
    border-radius: 8px;
}

.header_navbar-choices {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.header_navbar-choices li{
    display: inline-block;
}
.header_navbar-choices li a{
    font-size: 0.8rem;
    color: rgb(36, 36, 36);
    text-decoration: none;
    padding: 8px;
    transition: transform 0.2s ease-in-out !important;
    transform: translateY(0);
    display: inline-block;
}

.header_navbar-choices li a:hover {
    color: #ae7e52;
    transform: translateY(-2px) !important;
}

.header_navbar::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #d6e2cb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_navbar-login {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header_navbar-btn {
    display: inline-block;
    font-size: 0.7rem;
    letter-spacing: 0.8px;
    font-weight: 550;
    height: 36px;
    width: 60px;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    border: 1.4px solid #868585;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #585656;
    transition: 0.3s ease-in;
}

.header_navbar-btn:hover {
    background-color: #ebd1ad;
    color: #615656;
}

.header_navbar-search {
    height: 36px;
    width: 36px;
    color: #585656;
    text-align: center;
    padding-left: 20px;
}
.header_navbar-search:hover {
    color: #000;
    cursor: pointer;
}

/* Body */

/* first - title */
.container {
    margin-top: 40px !important;
    margin: auto;
}

.first_introduce {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.introduce_image img{
    height: auto;
    max-width: 100%;
    object-fit: contain;
    inset: 0px;
}

.introduce_title h3 {
    font-size: 2rem;
    color: var(--text-color);
    line-height: 2rem;
    margin-bottom: 50px;
    margin-top: 0;
}

.introduce_title a {
    width: 200px;
    height: 60px;
    background-color: #ceb18b;
    display: block;
    text-align: center;
    padding-top: 12px;
    border-radius: 10px;
    text-decoration: none;
    color: #1a1717;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
    box-shadow: 2px 4px 4px rgba(14, 13, 13, 0.1);
    margin-bottom: 50px;

}

.introduce_title a:hover {
    transform: translateY(-2px);
}

/* first - music */
.control {
    width: 94%;
    height: 124px;
    padding-top: 20px;
    background-color: #f4eee3;
    border-radius: 10px;
}

.player-music {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    margin-bottom: 18px;
    color: #534f4f;
}

.progress {
    margin: auto;
    display: block;
    width: 80%;
}

.none {
    display: none;
}

.about_prod {
    font-size: 0.9rem;
}

/* third */

.third_upcoming {
    display: flex;
    justify-content: space-between;
}

.about-title {
    text-align: center;
    color: #6c5035;
}
.upcoming_content-text {
    background-color: #d9d9d9;
    font-size: 0.7rem;
    color: #585656;
    margin: auto;
    padding: 10px;
}

.upcoming_content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.upcoming_content-right img {
    height: auto;
    max-width: 50%;
    object-fit: fill;
    padding: 10px;
    background-color: #ede6e6;
}



/* footer */

.footer {
    height: 50px;
    width: 100%;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_end {
    font-size: 0.6rem;
    letter-spacing: 1px;
}

/* Java */
.java {
    width: 100%;
    margin: auto;
}

.java_introduce {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.introduce_right {
    margin-top: 40px;
    height: 200px;
    overflow: hidden;
    background-position: right;
    display: flex;
    justify-content: left;
}

.introduce_right img {
    height: auto;
    width: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 10px #b29090;
    border-radius: 4px;
    opacity: 0.8;
}

.introduce_left p {
    font-size: 0.7rem;
    color: #868585;
}

.introduce_nav {
    width: 60%;
    height: 44px;
    background-color: #d0a67e;
    padding-top: 4px;
    padding-left: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #4a3d28;
}

.java_title {
    margin-top: 0;
    color: #4a3d28;
    letter-spacing: 1px;
}

.format-list {
    width: 100%;
    background-color: #edeaea;
    border-radius: 8px;
}

.element {
    padding-top: 10px;
    padding-left: 30px;
    border-bottom: 0.1px solid #dddada;
    
}

.element_notion {
    text-decoration: none;
    color: #201c1c;
    letter-spacing: 0.8px;
    font-size: 0.9rem;
    
}

.element_notion:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #4a3d28;
}
